<div class="row">
	<div class="span 6 offset3">
		<div class="well">
			<p>
			  <%= @album.description %>
			</p>
			<%= link_to 'Edit', edit_album_path(@album) %> |
			<%= link_to 'Back', albums_path %>
		</div>
	</div>
</div>
